.headerContainer {
  display: flex;
  flex-direction: column;
}

.toolbarBtnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-image: linear-gradient(#3e5c78, #25303c);
}

.titleName {
  color: #dcdcdc;
  font-size: 26px;
  padding: 12px 12px 20px 12px;
  margin: 0 0 8px 0;
  text-align: justify;
  border-bottom: 2px solid #1d2b38;
  background-image: linear-gradient(#3e5c78, #25303c);
}

.ctrlButtonsContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}

.svgIconToolbarBtn {
  width: 56px;
}

.svgIconBtn {
  width: 200px;
}

.historyContainer {
  margin: 35px 0 0 0;
}

.historyItem {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 4px 12px;
  padding: 12px;
  border: 1px solid #769897;
  border-radius: 8px;
  font-family: monospace;
  font-size: 22px;
  text-align: center;
}
